<div class=" col col-xs-12 col-sm-6 col-md-4">
  <div class="template-block">
    <h4 class="theme author">{{author}}</h4><h4 class="theme name">{{title}}</h4>
      <div class="gallery" data-link="{{link}}" data-image="{{#each gallery}}https://drive.google.com/uc?id={{image}},{{/each}}">
        {{#each gallery}}
         <a href="{{image}}"><img src="https://drive.google.com/uc?id={{thumbnail}}"></a>
         {{/each}}
      </div>
    <ul class="pagination pagination-sm">
      {{#if free}}
        <li><a href="free.html">Free</a></li>
      {{/if}}
      {{#if premium}}
        <li><a href="premium.html">Premium</a></li>
      {{/if}}
      {{#if minimalictic}}
        <li><a href="minimalistic.html">Minimalistic</a></li>
      {{/if}}
    </ul>
    <a class="btn btn-default view-theme" href="{{link}}" target="_blank" >View the theme</a>
  </div>
  <div class="clearfix"></div>
</div>
